USE [ChatApp]
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 3/23/2023 9:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[ID] [int] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_MEMBERS]    Script Date: 3/23/2023 9:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_MEMBERS](
	[ID] [int] NOT NULL,
	[GROUP_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[JOINED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK_GROUP_MEMBERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 3/23/2023 9:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_USER] [int] NOT NULL,
	[TO_USER] [int] NULL,
	[MESSAGE] [text] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[GROUP_ID] [int] NULL,
 CONSTRAINT [PK_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 3/23/2023 9:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMG] [varchar](255) NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[PASS_WORD] [varchar](50) NOT NULL,
	[IS_ONLINE] [bit] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GROUP_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_MEMBERS_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP] ([ID])
GO
ALTER TABLE [dbo].[GROUP_MEMBERS] CHECK CONSTRAINT [FK_GROUP_MEMBERS_GROUP]
GO
ALTER TABLE [dbo].[GROUP_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_MEMBERS_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[GROUP_MEMBERS] CHECK CONSTRAINT [FK_GROUP_MEMBERS_USER]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_GROUP_MEMBERS] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP_MEMBERS] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_GROUP_MEMBERS]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_USER2] FOREIGN KEY([FROM_USER])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_USER2]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_USER3] FOREIGN KEY([TO_USER])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_USER3]
GO
