USE [ChatApp]
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 3/23/2023 11:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_MEMBERS]    Script Date: 3/23/2023 11:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_MEMBERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[JOINED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK_GROUP_MEMBERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 3/23/2023 11:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_USER] [int] NOT NULL,
	[TO_USER] [int] NULL,
	[MESSAGE] [text] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[GROUP_ID] [int] NULL,
 CONSTRAINT [PK_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 3/23/2023 11:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMG] [varchar](255) NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[PASS_WORD] [varchar](50) NOT NULL,
	[IS_ONLINE] [bit] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GROUP] ON 

INSERT [dbo].[GROUP] ([ID], [NAME], [CREATED_BY], [CREATED_AT]) VALUES (10, N'PRN', 7, CAST(N'2023-03-23T23:37:32.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[GROUP] OFF
GO
SET IDENTITY_INSERT [dbo].[GROUP_MEMBERS] ON 

INSERT [dbo].[GROUP_MEMBERS] ([ID], [GROUP_ID], [USER_ID], [JOINED_AT]) VALUES (15, 10, 7, CAST(N'2023-03-23T23:37:32.810' AS DateTime))
INSERT [dbo].[GROUP_MEMBERS] ([ID], [GROUP_ID], [USER_ID], [JOINED_AT]) VALUES (16, 10, 8, CAST(N'2023-03-23T23:37:32.820' AS DateTime))
INSERT [dbo].[GROUP_MEMBERS] ([ID], [GROUP_ID], [USER_ID], [JOINED_AT]) VALUES (17, 10, 9, CAST(N'2023-03-23T23:37:32.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[GROUP_MEMBERS] OFF
GO
SET IDENTITY_INSERT [dbo].[MESSAGE] ON 

INSERT [dbo].[MESSAGE] ([ID], [FROM_USER], [TO_USER], [MESSAGE], [CREATE_DATE], [GROUP_ID]) VALUES (70, 9, 7, N'HELLO', CAST(N'2023-03-23T23:36:42.510' AS DateTime), NULL)
INSERT [dbo].[MESSAGE] ([ID], [FROM_USER], [TO_USER], [MESSAGE], [CREATE_DATE], [GROUP_ID]) VALUES (71, 9, 8, N'HELLO', CAST(N'2023-03-23T23:36:42.533' AS DateTime), NULL)
INSERT [dbo].[MESSAGE] ([ID], [FROM_USER], [TO_USER], [MESSAGE], [CREATE_DATE], [GROUP_ID]) VALUES (72, 7, 8, N'?', CAST(N'2023-03-23T23:37:06.627' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MESSAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [IMG], [USER_NAME], [PASS_WORD], [IS_ONLINE]) VALUES (7, N'./Image/50707bf9812455c877d42c2b75505343.jfif', N'VINH', N'VINH', 1)
INSERT [dbo].[USER] ([ID], [IMG], [USER_NAME], [PASS_WORD], [IS_ONLINE]) VALUES (8, N'./Image/4a4bf1020f9b00fda1439a869be48d35.jpg', N'ABC', N'ABC', 0)
INSERT [dbo].[USER] ([ID], [IMG], [USER_NAME], [PASS_WORD], [IS_ONLINE]) VALUES (9, N'./Image/336523415_682646686968819_15002620740359900_n.jpg', N'ZZZ', N'ZZZ', 1)
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
ALTER TABLE [dbo].[GROUP_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_MEMBERS_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP] ([ID])
GO
ALTER TABLE [dbo].[GROUP_MEMBERS] CHECK CONSTRAINT [FK_GROUP_MEMBERS_GROUP]
GO
ALTER TABLE [dbo].[GROUP_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_MEMBERS_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[GROUP_MEMBERS] CHECK CONSTRAINT [FK_GROUP_MEMBERS_USER]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_USER2] FOREIGN KEY([FROM_USER])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_USER2]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_USER3] FOREIGN KEY([TO_USER])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_USER3]
GO
